# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# optional for better svg#{
#   "imports": {
#     "react/": "https://aistudiocdn.com/react@^19.2.0/",
#     "react": "https://aistudiocdn.com/react@^19.2.0",
#     "react-dom/": "https://aistudiocdn.com/react-dom@^19.2.0/",
#     "react-markdown": "https://aistudiocdn.com/react-markdown@^10.1.0",
#     "@google/genai": "https://aistudiocdn.com/@google/genai@^1.30.0",
#     "fs": "https://esm.sh/fs@^0.0.1-security",
#     "@supabase/supabase-js": "https://esm.sh/@supabase/supabase-js@^2.93.3",
#     "path": "https://esm.sh/path@^0.12.7"
#   }